#intro{
    height: 100vh;
}

h4{
    color: #0D47A1;
}

.card-action a{
    color: lightgray;
}

.page-footer{
    background-color: #0D47A1;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

#tinyTextFooter{
    font-size: xx-small;
    margin-right: 10px;
}

table{
    margin-bottom: 5%;
}

.bold{
    font-weight: bold;
}



